In [4]:
import os
os.listdir()

['.ipynb_checkpoints',
 'COST_05052010_15062020.csv.gz',
 'DecisionTree_prediction .ipynb',
 'diabetes.csv',
 'original.csv',
 'original.json',
 'original.xlsx',
 'pandas read_write.ipynb',
 'pandas tutorial 2.ipynb',
 'pandas_DF.ipynb',
 'Read_sql table.ipynb',
 'test1-checkpoint.ipynb',
 'test1.ipynb',
 'Untitled1.ipynb']

In [ ]:
import pandas
df1= pandas.read_csv("original.csv")

In [ ]:
df1

In [7]:
for i in range(0,5):
    d=df1.iloc[i,0:5]
    print(d)

1                             2
3666 21st St     735 Dolores St
San Francisco     San Francisco
CA 94114               CA 94119
USA                         USA
Name: 0, dtype: object
1                               3
3666 21st St          332 Hill St
San Francisco       San Francisco
CA 94114         California 94114
USA                           USA
Name: 1, dtype: object
1                            4
3666 21st St      3995 23rd St
San Francisco    San Francisco
CA 94114              CA 94114
USA                        USA
Name: 2, dtype: object
1                              5
3666 21st St     1056 Sanchez St
San Francisco      San Francisco
CA 94114              California
USA                          USA
Name: 3, dtype: object
1                              6
3666 21st St     551 Alvarado St
San Francisco      San Francisco
CA 94114                CA 94114
USA                          USA
Name: 4, dtype: object

In [8]:
df1.ix[3,4]

C:\Users\Aarti\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
C:\Users\Aarti\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:961: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  return getattr(section, self.name)[new_key]

'USA'

In [9]:
df1=df1.drop("City",1, errors='ignore')
df1

   1     3666 21st St  San Francisco          CA 94114  USA      Madeira   8
0  2   735 Dolores St  San Francisco          CA 94119  USA  Bready Shop  15
1  3      332 Hill St  San Francisco  California 94114  USA  Super River  25
2  4     3995 23rd St  San Francisco          CA 94114  USA   Ben's Shop  10
3  5  1056 Sanchez St  San Francisco        California  USA      Sanchez  12
4  6  551 Alvarado St  San Francisco          CA 94114  USA   Richvalley  20

In [10]:
df1=df1.drop("City",1, errors='ignore')

In [11]:
df1

   1     3666 21st St  San Francisco          CA 94114  USA      Madeira   8
0  2   735 Dolores St  San Francisco          CA 94119  USA  Bready Shop  15
1  3      332 Hill St  San Francisco  California 94114  USA  Super River  25
2  4     3995 23rd St  San Francisco          CA 94114  USA   Ben's Shop  10
3  5  1056 Sanchez St  San Francisco        California  USA      Sanchez  12
4  6  551 Alvarado St  San Francisco          CA 94114  USA   Richvalley  20

In [12]:
df1.ix[3,4]

C:\Users\Aarti\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'USA'

In [15]:
df1.columns

Index(['1', '3666 21st St', 'San Francisco', 'CA 94114', 'USA', 'Madeira',
       '8'],
      dtype='object')

In [ ]:
pip install xlrd

df2= pandas.read_csv("original.xlsx")

In [16]:
df2 = pandas.read_excel("original.xlsx",sheet_name=0)
df2

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

len(df2.index)

In [17]:
len(df2.index)

6

In [18]:
df2["Continent"]=df2.shape[0]*["North America"]
df2

,ID,Address,City,State,Country,Supermarket Name,Number of Employees,Continent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America

In [19]:
df2["Continent"]=df2["Country"]+","+ "North America"
df2

,ID,Address,City,State,Country,Supermarket Name,Number of Employees,Continent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"USA,North America"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"USA,North America"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"USA,North America"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"USA,North America"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"USA,North America"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"USA,North America"

In [20]:
df2_t=df2.T
df2_t

,0,1,2,3,4,5
ID,1,2,3,4,5,6
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Country,USA,USA,USA,USA,USA,USA
Supermarket Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
Number of Employees,8,15,25,10,12,20
Continent,"USA,North America","USA,North America","USA,North America","USA,North America","USA,North America","USA,North America"

In [22]:
pip install geopy

Requirement already satisfied: geopy in c:\users\aarti\appdata\local\continuum\anaconda3\lib\site-packages (1.21.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\aarti\appdata\local\continuum\anaconda3\lib\site-packages (from geopy) (1.50)
Note: you may need to restart the kernel to use updated packages.

In [23]:
df2

,ID,Address,City,State,Country,Supermarket Name,Number of Employees,Continent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"USA,North America"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"USA,North America"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"USA,North America"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"USA,North America"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"USA,North America"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"USA,North America"

In [24]:
import os
import pandas
df2 = pandas.read_csv("original.csv")
df2

   1     3666 21st St  San Francisco          CA 94114  USA      Madeira   8
0  2   735 Dolores St  San Francisco          CA 94119  USA  Bready Shop  15
1  3      332 Hill St  San Francisco  California 94114  USA  Super River  25
2  4     3995 23rd St  San Francisco          CA 94114  USA   Ben's Shop  10
3  5  1056 Sanchez St  San Francisco        California  USA      Sanchez  12
4  6  551 Alvarado St  San Francisco          CA 94114  USA   Richvalley  20

In [25]:
type(df2)

pandas.core.frame.DataFrame

In [ ]:
import geopy

In [27]:
from geopy.geocoders import Nominatim
nom= Nominatim()
nom.geocode("3995 23rd St, San Francisco,CA 94119 ")

C:\Users\Aarti\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.

Location(3995, 23rd Street, Noe Valley, San Francisco, San Francisco City and County, California, 94114, United States of America, (37.7529648, -122.4317141, 0.0))

In [28]:
n= nom.geocode("735 Dolores St, San Francisco, CA 94119")
n
type(n)

geopy.location.Location

In [29]:
df = pandas.read_csv("original.csv")

In [30]:
df

   1     3666 21st St  San Francisco          CA 94114  USA      Madeira   8
0  2   735 Dolores St  San Francisco          CA 94119  USA  Bready Shop  15
1  3      332 Hill St  San Francisco  California 94114  USA  Super River  25
2  4     3995 23rd St  San Francisco          CA 94114  USA   Ben's Shop  10
3  5  1056 Sanchez St  San Francisco        California  USA      Sanchez  12
4  6  551 Alvarado St  San Francisco          CA 94114  USA   Richvalley  20