In [1]:
# import Requests..
import requests

In [2]:
url ="https://www.skysports.com/premier-league-table/2011"

In [3]:
page = requests.get(url)

In [4]:
print(page.status_code)

200

In [5]:
print(page)

<Response [200]>

In [1]:
#print(page.text)

In [7]:
#import BeautifulSoup 
from bs4 import BeautifulSoup

In [9]:
#Create object of beautifulsoup
soup =BeautifulSoup(page.text, 'html.parser')

In [2]:
#print(soup.prettify)

In [11]:
# print anchor tag

print(soup.find('a'))

<a class="svg-logo site-header__logo" href="https://www.skysports.com">
<img class="svg-logo__image" onerror="this.onerror=null;this.src='/core/img/channels/Sky-Sports-Logo.png'" src="/core/img/channels/Sky-Sports-Logo-transparent.svg"/>
</a>

In [3]:
# print all anchor tags
#print(soup.find_all('a'))

In [14]:
# print anchortag at index 2
soup.find_all('a')[2]

<a class="promotion-panel__inner-wrap" href="http://www.skysports.com/transfer-centre">
<div class="promotion-panel__inner">
<div class="promotion-panel__body">
<picture>
<source media="(min-width:481px)" srcset="https://e3.365dm.com/20/08/768x432/skysports-transfer-centre-graphic_5067116.jpg?20200814085239"/>
<source media="(max-width:480px)" srcset="https://e3.365dm.com/20/08/384x512/skysports-transfer-centre-graphic_5067116.jpg?20200814085239"/>
<img alt="Transfer Centre" class="promotion-panel__image" src="https://e3.365dm.com/20/08/1024x768/skysports-transfer-centre-graphic_5067116.jpg?20200814085239"/>
</picture>
<div class="promotion-panel__body-inner">
<div class="promotion-panel__content">
<h1 class="promotion-panel__title">
                            Transfer Centre                        </h1>
<h2 class="promotion-panel__abstract">
                            Who's going where? Get the latest across the leagues with our live blog...                        </h2>
</div>
</div>
</div>
</div>
</a>

In [15]:
league = soup.find('table',class_='standing-table__table')

In [4]:
#print(league)

In [17]:
league_table =league.find_all('tbody')

In [5]:
#print(league_table)

In [23]:
# extract table details

for league_teams in league_table:
    rows=league_teams.find_all('tr')
    for row in rows:
        team_names = row.find('td', class_ ='standing-table__cell standing-table__cell--name').text.strip()
        team_points =row.find_all('td', class_='standing-table__cell')[9].text.strip()
        print(team_names, team_points)

Manchester City 89
Manchester United 89
Arsenal 70
Tottenham Hotspur 69
Newcastle United 65
Chelsea 64
Everton 56
Liverpool 52
Fulham 52
West Bromwich Albion 47
Swansea City 47
Norwich City 47
Sunderland 45
Stoke City 45
Wigan Athletic 43
Aston Villa 38
Queens Park Rangers 37
Bolton Wanderers 36
Blackburn Rovers 31
Wolverhampton Wanderers 25

In [24]:
import pandas as pd

In [28]:
# create list
league_2011=[]
for league_teams in league_table:
    rows=league_teams.find_all('tr')
    for row in rows:
        team_names = row.find('td', class_ ='standing-table__cell standing-table__cell--name').text.strip()
        team_points =row.find_all('td', class_='standing-table__cell')[9].text.strip()
        league_dict ={'name': team_names,
                     'points': team_points}
        league_2011.append(league_dict)

In [29]:
# define a DataFrame

df = pd.DataFrame(league_2011)
df.head()

                name points
0    Manchester City     89
1  Manchester United     89
2            Arsenal     70
3  Tottenham Hotspur     69
4   Newcastle United     65

In [30]:
df

                       name points
0           Manchester City     89
1         Manchester United     89
2                   Arsenal     70
3         Tottenham Hotspur     69
4          Newcastle United     65
5                   Chelsea     64
6                   Everton     56
7                 Liverpool     52
8                    Fulham     52
9      West Bromwich Albion     47
10             Swansea City     47
11             Norwich City     47
12               Sunderland     45
13               Stoke City     45
14           Wigan Athletic     43
15              Aston Villa     38
16      Queens Park Rangers     37
17         Bolton Wanderers     36
18         Blackburn Rovers     31
19  Wolverhampton Wanderers     25